<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>User Details</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
	crossorigin="anonymous">
<style>
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

th, td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}

iframe {
	width: 100%;
	height: 300px;
}

.status-dropdown {
	width: 100%;
	padding: 8px;
}

#mysubmitbutton {
	padding: 10px 15px;
	background-color: #2196F3;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.no-border {
	border: none;
}
</style>
</head>
<body>
	<!-- Include the header fragment -->
	<div th:replace="fragments/headerFragment :: header"></div>

	<!-- Include the aside fragment -->
	<div th:replace="fragments/asideFragment :: aside"></div>

	<main id="main" class="main">
		<div class="pagetitle">
			<h1>Intern Application Details</h1>
		</div>
		<div th:if="${intern.isPresent()}">
			<form action="update" method="post" class="needs-validation"
				enctype="multipart/form-data">
				<table class="table table-bordered">
					<tr>
						<th>First Name</th>
						<td><input type="text" name="firstName"
							th:value="${intern.get().firstName}" class="no-border"></td>
					</tr>
					<tr>
						<th>Last Name</th>
						<td><input type="text" name="lastName"
							th:value="${intern.get().lastName}" class="no-border"></td>
					</tr>
					<tr>
						<th>Contact No</th>
						<td><input type="text" name="contactNo"
							th:value="${intern.get().contactNo}" class="no-border"></td>
					</tr>
					<tr>
						<th>Email ID</th>
						<td><input type="email" name="email"
							th:value="${intern.get().email}" class="no-border"></td>
					</tr>
					<tr>
						<th>College Name</th>
						<td><select class="form-select" id="collegeName"
							name="collegeName">
								<option th:each="college : ${colleges}"
									th:text="${college.name}" th:value="${college.name}"
									th:selected="${college.name == intern.get().collegeName}"></option>

						</select></td>
					</tr>
					<tr>
						<th>Branch</th>
						<td><select class="form-select" id="branch" name="branch">
								<option th:each="branch : ${branches}" th:text="${branch.name}"
									th:value="${branch.name}"
									th:selected="${branch.name == intern.get().branch}"></option>

						</select></td>
					</tr>
					<tr>
						<th>Domain</th>
						<td><select class="form-select" id="domain"
							name="domain">
								<option th:each="domain : ${domains}" th:text="${domain.name}"
									th:value="${domain.name}"
									th:selected="${domain.name == intern.get().domain}"></option>

						</select></td>
					</tr>
					<tr>
						<th>Semester</th>
						<td><input type="number" name="semester"
							th:value="${intern.get().semester}" class="no-border"></td>
					</tr>
					<tr>
						<th>Joining Date</th>
						<td><input type="date" name="joiningDate"
							th:value="${intern.get().joiningDate}" class="no-border"></td>
					</tr>
					<tr>
						<th>Completion Date</th>
						<td><input type="date" name="completionDate"
							th:value="${intern.get().completionDate}" class="no-border"></td>
					</tr>
					<tr>
						<th>Is Active</th>
						<td><label><input type="radio" name="isActive"
								value="true" th:checked="${intern.get().isActive}"
								class="no-border" readonly> True</label> <label><input
								type="radio" name="isActive" value="false"
								th:checked="${!intern.get().isActive}" class="no-border"
								readonly> False</label></td>
					</tr>

					<!-- Hidden field for ID -->
					<tr class="d-none">
						<td><input id="internid" type="number" name="id"
							th:value="${intern.isPresent() ? intern.get().id : null}" hidden></td>
					</tr>
				</table>
				<div class="text-center mb-3">
					<button id="mysubmitbutton" type="submit" class="btn btn-success">Update
					</button>
				</div>
			</form>





			<div
				th:if="${intern.isPresent() and intern.get().isActive and intern.get().status == 'approved' and intern.get().finalStatus == 'pending'}">
				<form action="ans" method="post">
					<table class="table table-bordered">
						<tr>
							<th>Final Status</th>
							<td><select class="form-control" id="finalStatus"
								name="finalStatus" onchange="handleStatusChange()">
									<option value="" selected disabled>Select Status</option>
									<option value="passed">Passed</option>
									<option value="failed">Failed</option>
							</select></td>
						</tr>
						<tr>
							<th>Reason</th>
							<td><input type="text" id="message" name="message"
								placeholder="Enter reason for rejection" class="form-control">
							</td>
						</tr>
						<tr class="d-none">
							<td><input id="internid" type="number" name="id"
								th:value="${intern.isPresent() ? intern.get().id : null}" hidden></td>
						</tr>
						<tr class="d-none">
							<td><input id="status" type="text" name="status"
								th:value="${intern.isPresent() ? intern.get().status : null}"
								hidden></td>
						</tr>
					</table>
					<div class="text-center mb-3">
						<button id="mysubmitbutton" type="submit" class="btn btn-primary">
							<span class="spinner-border spinner-border-sm visually-hidden"
								role="status" aria-hidden="true"></span> <span
								class="visually-hidden">Loading...</span>Submit
						</button>
					</div>
				</form>
			</div>







			<div
				th:if="${intern.isPresent() and intern.get().isActive and intern.get().status == 'pending' and intern.get().finalStatus == 'pending'}">
				<form action="ans" method="post">
					<table class="table table-bordered">
						<tr>
							<th>Status</th>
							<td><select class="form-select status-dropdown" id="status"
								name="status" onchange="handleStatusChange()">
									<option value="" selected disabled>Select Status</option>
									<option value="approved">Approved</option>
									<option value="rejected">Rejected</option>
							</select></td>
						</tr>
						<tr>
							<th>Reason</th>
							<td><input type="text" id="message" name="message"
								placeholder="Enter reason for rejection" class="form-control"></td>
						</tr>
						<tr class="d-none">
							<td><input id="internid" type="number" name="id"
								th:value="${intern.isPresent() ? intern.get().id : null}" hidden></td>
						</tr>
						<tr class="d-none">
							<td><input id="finalStatus" type="text" name="finalStatus"
								th:value="${intern.isPresent() ? intern.get().finalStatus : null}"
								hidden></td>
						</tr>
					</table>
					<div class="text-center mb-3">
						<button id="mysubmitbutton" type="submit" class="btn btn-primary">
							<span class="spinner-border spinner-border-sm visually-hidden"
								role="status" aria-hidden="true"></span> <span
								class="visually-hidden">Loading...</span>Submit
						</button>
					</div>
				</form>
			</div>
		</div>

		<!-- Include the footer fragment -->
		<div th:replace="fragments/footerFragment :: footer"></div>
	</main>
	<div th:unless="${intern.isPresent()}">
		<!-- Handle the case when Optional is empty -->
		<p class="alert alert-warning">Intern not found</p>
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
		integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
		crossorigin="anonymous"></script>



	<!-- Include Bootstrap JS -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
		integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
		crossorigin="anonymous"></script>
	<script>
		$(document).ready(function() {
			// Initially hide the loading spinner
			$('.spinner-border').addClass('visually-hidden');

			$('form').submit(function() {
				// Show the loading spinner
				$('.spinner-border').removeClass('visually-hidden');

				// You can also perform additional actions or AJAX requests here

				// For demonstration purposes, let's simulate a delay
				setTimeout(function() {
					// After some delay, you may want to reset the loading spinner or perform other actions
					$('.spinner-border').addClass('visually-hidden');
				}, 200000); // Simulated delay of 2 seconds (adjust as needed)
			});
		});
	</script>
</body>

</html>