<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Weekly Report Details</title>
<!-- Include any necessary styles or scripts -->
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet">
<!-- Bootstrap CSS is used for the card layout in this example -->
</head>
<style>
.late-status {
	color: red;
}

.green-status {
	color: green;
}
</style>

<body>

	<!-- Include the header fragment -->
	<div th:replace="fragments/internHeaderFragment :: header"></div>

	<!-- Include the aside fragment -->
	<div th:replace="fragments/internAsideFragment :: aside"></div>

	<main id="main" class="main">
		<div class="container mt-2">
			<!-- Second Sales Card -->
			<div class="col-xxl-12 col-md-12">
				<div class="card info-card sales-card">

					<div class="card-body">

						<div class="d-flex align-items-center">
							<div
								class="card-icon rounded-circle d-flex align-items-center justify-content-center">
								<i class="bi bi-people"></i>
							</div>
							<div class="ps-3">
								<h4>
									<span>Last Replaced By</span>
								</h4>
								<h5>
									<span th:text="${status}"
										class="text-success small pt-1 fw-bold">Pending
										Applications</span>
								</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="d-flex justify-content-between align-items-center mb-3">
					<h3 class="text-dark">Report Details</h3>
				</div>
				<form action="changed_report" method="POST"
					enctype="multipart/form-data">
					<table class="table table-bordered">
						<tr>
							<td>Week No:</td>
							<td th:text="${report.weekNo}"></td>
						</tr>
						<tr>
							<td>Group ID:</td>
							<td th:text="${report.group.groupId}"></td>
						</tr>
						<tr>
							<td>Guide:</td>
							<td th:text="${report.group.guide.name}"></td>
						</tr>
						<tr>
							<td>Submitted Date:</td>
							<td th:text="${report.reportSubmittedDate}"></td>
						</tr>
						<tr>
							<td>Deadline:</td>
							<td th:text="${report.deadline}"></td>
						</tr>
						<tr>
							<td>Submitted By:</td>
							<td th:text="${replacedBy}"></td>
						</tr>
						<tr>
							<td>Status:</td>
							<td th:text="${report.status}"></td>
						</tr>
						<tr>
							<input type="text" class="form-control" id="weekNo" name="weekNo"
								th:value="${report.weekNo}" hidden>
							<td>Updated Report:</td>
							<td><input type="file" class="form-control"
								id="weeklyReportSubmission" name="weeklyReportSubmission"
								required></td>
						</tr>
					</table>
					<div class="text-center">
						<button type="submit" class="btn btn-primary">Save
							changes</button>
					</div>
				</form>
			</div>
		</div>

		<!-- Include the footer fragment -->
		<div th:replace="fragments/footerFragment :: footer"></div>
	</main>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<!-- Bootstrap JS is used for the card layout in this example -->

</body>

</html>