<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>IMS Intern Panel</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <style>
.lgout {
	padding: 10px;
	list-style-type: none;
	border: 2px solid;
	border-radius: 10px;
}

.g-label {
	font-weight: 700;
	color: grey;
}

.icon {
	font-size: 40px;
	border: solid;
	border-radius: 50%;
	/* Make the border-radius 50% to create a circle */
	width: 60px;
	/* Adjust the width and height to fit your content */
	height: 57px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	/* Set your desired background color */
}


    </style>
</head>

<body>


<!-- Include the header fragment -->
<div th:replace="fragments/internHeaderFragment :: header"></div>

<!-- Include the aside fragment -->
<div th:replace="fragments/internAsideFragment :: aside"></div>


<main id="main" class="main">

    <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item active">Profile</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        <div class="icon position-relative">
                            <!-- Conditional rendering of profile picture or icon -->
                            <div th:if="${intern.profilePicture != null}">
                                <img th:src="@{/bisag/intern/image/{id}(id=${intern.internId})}"
                                     alt="Profile Picture"
                                     class="rounded-circle"
                                     style="width: 60px; height: 60px; object-fit: cover;">
                            </div>
                            <div th:if="${intern.profilePicture == null}">
                                <i class="fa-solid fa-user" style="font-size: 40px;"></i>
                            </div>
                            <!-- Tiny Upload Button next to the icon -->
                            <button type="button"
                                    class="btn btn-sm btn-primary rounded-circle position-absolute top-0 end-0"
                                    data-bs-toggle="modal" data-bs-target="#uploadModal"
                                    style="width: 18px; height: 18px; padding: 0; margin-top: 33px; font-size: 15px; line-height: 1;">
                                +
                            </button>
                        </div>
                        <h2>
                            <span th:text="${intern.firstName}"></span>
                            <span th:text="${intern.lastName}"></span>
                        </h2>
                        <h3>Intern</h3>
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <form action="/bisag/intern/requestCancellation" method="post">
                    <div class="card">
                        <div
                                class="card-body profile-card pt-4 d-flex flex-column align-items-left">
                            <h4>Cancellation</h4>
                            <div>
                                <button type="submit"
                                        th:disabled="${intern.cancellationStatus != null}"
                                        class="btn btn-danger py-1 px-4">Request
                                </button>
                                <span class="text-danger mx-3"
                                      th:if="${intern.cancellationStatus == 'requested'}">Wait
										for admin to approve your cancellation</span> <span
                                    class="text-danger mx-3"
                                    th:if="${intern.cancellationStatus == 'cancelled'}">You
										are not BISAG intern anymore</span>
                            </div>
                            <h6 class="mt-2">For any reason if you want to leave the
                                internship, you can request for that from here.</h6>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        </div>

        <div class="col-xl-12">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab"
                                    data-bs-target="#profile-overview">Overview
                            </button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab"
                                    data-bs-target="#group-details">Group Details
                            </button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab"
                                    data-bs-target="#profile-change-password">Change
                                Password
                            </button>
                        </li>

                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-overview"
                             id="profile-overview">
                            <h5 class="card-title">About</h5>
                            <p class="small fst-italic">Sunt est soluta temporibus
                                accusantium neque nam maiores cumque temporibus. Tempora libero
                                non est unde veniam est qui dolor. Ut sunt iure rerum quae
                                quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea
                                saepe at unde.</p>

                            <h5 class="card-title">Profile Details</h5>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Intern ID</div>
                                <div class="col-lg-9 col-md-8">
                                    <span th:text="${intern.internId}"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                <div class="col-lg-9 col-md-8">
                                    <span th:text="${intern.firstName}"></span> <span
                                        th:text="${intern.lastName}"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Contact No</div>
                                <div class="col-lg-9 col-md-8">
                                    <span th:text="${intern.contactNo}"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Email ID</div>
                                <div class="col-lg-9 col-md-8">
                                    <span th:text="${intern.email}"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">College</div>
                                <div class="col-lg-9 col-md-8">
                                    <span th:text="${intern.collegeName}"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Branch</div>
                                <div class="col-lg-9 col-md-8">
                                    <span th:text="${intern.branch}"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Domain</div>
                                <div class="col-lg-9 col-md-8">
                                    <span th:text="${intern.domain}"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Semester</div>
                                <div class="col-lg-9 col-md-8">
                                    <span th:text="${intern.semester}"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Joining Date</div>
                                <div class="col-lg-9 col-md-8">
                                    <span th:text="${intern.joiningDate}"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Completion Date</div>
                                <div class="col-lg-9 col-md-8">
                                    <span th:text="${intern.completionDate}"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Group ID</div>
                                <div class="col-lg-9 col-md-8">
                                    <span th:text="${group.groupId}"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Guide Name</div>
                                <div class="col-lg-9 col-md-8">
                                    <span th:text="${group.guide?.name} ?: 'Not Allocated Yet'"></span>
                                </div>
                            </div>

                        </div>


                        <div class="tab-pane fade" id="group-details">
                            <div>
                                <h5 class="card-title">Group Details</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 g-label">Group ID</div>
                                    <div class="col-lg-9 col-md-8">
                                        <span th:text="${group.groupId}"></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 g-label">Guide</div>
                                    <div class="col-lg-9 col-md-8">
                                        <span th:text="${group.guide?.name} ?: 'Not Allocated Yet'"></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 g-label">Domain</div>
                                    <div class="col-lg-9 col-md-8">
                                        <span th:text="${group?.domain} ?: 'NULL'"></span>
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div class="col-lg-3 col-md-4 g-label">Total Members</div>
                                    <div class="col-lg-9 col-md-8">
                                        <span th:text="${internCountGroupWise}"></span>
                                    </div>
                                </div>

                                <div class="row" th:each="i : ${interns}">
                                    <div class="col-lg-3 col-md-4 g-label">Name</div>
                                    <div class="col-lg-9 col-md-8">
                                        <span th:text="${i.firstName} + ' '"></span><span
                                            th:text="${i.lastName}"></span>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="tab-pane fade pt-3" id="profile-change-password">
                            <!-- Change Password Form -->
                            <form th:action="@{'/bisag/intern/change_password'}"
                                  method="post" onsubmit="return validatePasswords()">

                                <div class="row mb-3">
                                    <label for="newPassword"
                                           class="col-md-4 col-lg-3 col-form-label">New Password</label>
                                    <div class="col-md-8 col-lg-9">
                                        <div class="input-group">
                                            <input name="newPassword" type="password"
                                                   class="form-control" id="newPassword" required
                                                   oninput="checkPasswordStrength(this.value)">
                                            <!-- Eye icon to toggle password visibility -->
                                            <div class="input-group-append">
													<span class="input-group-text"
                                                          onclick="togglePasswordVisibility('newPassword')">
														<i class="fa fa-eye" aria-hidden="true"
                                                           style="font-size: 1.5rem; height: 100%;"></i>
													</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mb-3">
                                    <label for="renewPassword"
                                           class="col-md-4 col-lg-3 col-form-label">Re-enter New
                                        Password</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="renewPassword" type="password"
                                               class="form-control" id="renewPassword" required>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-8 offset-md-4 col-lg-9 offset-lg-3">
                                        <small id="passwordStrengthMessage" class="text-muted">Password
                                            strength: <span id="passwordStrength">Weak</span>
                                        </small>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Change
                                        Password
                                    </button>
                                </div>
                            </form>
                            <!-- End Change Password Form -->

                        </div>

                    </div>
                    <!-- End Bordered Tabs -->

                </div>
            </div>

        </div>
    </section>

    <!-- Modal for Uploading Profile Picture -->
    <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadModalLabel">Upload Profile Picture</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/bisag/intern/{internId}/profile-picture (internId=${intern.internId})}" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="profilePicture" class="form-label">Choose a picture</label>
                            <input class="form-control" type="file" name="profilePicture" id="profilePicture" accept=".jpg, .jpeg" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Include the footer fragment -->
    <div th:replace="fragments/footerFragment :: footer"></div>
</main>
<!-- End #main -->
<script th:inline="javascript">
		function validatePasswords() {
			var newPassword = document.getElementById('newPassword').value;
			var renewPassword = document.getElementById('renewPassword').value;

			if (newPassword !== renewPassword) {
				alert("Passwords do not match!");
				return false; // Prevent form submission
			}
			return true; // Allow form submission
		}


</script>
<script>
		function checkPasswordStrength(password) {
			var strengthContainer = document
					.getElementById('passwordStrengthMessage');
			var strengthIndicator = document.getElementById('passwordStrength');

			if (password.length === 0) {
				// Hide the strength indicator if password is empty
				strengthContainer.style.display = 'none';
			} else {
				// Show the strength indicator
				strengthContainer.style.display = 'block';

				// Evaluate password strength based on conditions
				var strength = 'Weak';
				if (password.length >= 6) {
					if (/[a-z]/.test(password)) {
						if (/[A-Z]/.test(password)
								&& /\d/.test(password)
								&& /[!@#$%^&*()_+\-=[\]{};':"\\|,.<>/?]/
										.test(password)) {
							strength = 'Strong';
						} else if (/\d/.test(password)) {
							strength = 'Medium';
						}
					}
				}

				// Update the password strength indicator
				strengthIndicator.textContent = strength;
			}
		}

		// Initially hide the strength indicator
		document.getElementById('passwordStrengthMessage').style.display = 'none';

		function togglePasswordVisibility(inputId) {
			var passwordInput = document.getElementById(inputId);
			var icon = document.querySelector('#' + inputId
					+ ' + .input-group-append i');

			if (passwordInput.type === 'password') {
				passwordInput.type = 'text';
				icon.classList.remove('fa-eye-slash');
				icon.classList.add('fa-eye');
			} else {
				passwordInput.type = 'password';
				icon.classList.remove('fa-eye');
				icon.classList.add('fa-eye-slash');
			}
		}


</script>


</body>

</html>